{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <title>heySummit</title>
</head>
<body>
    <section>
        <nav>

        </nav>
        <main style="border: 1px solid red" class="p-4 pb-0">
            <div class="flex items-center justify-end">
                <div class="w-24 bg-gray-100 p-2 rounded-lg mr-4 cursor-pointer">
                    <img   src="{% static "clickup-seeklogo.com.svg" %}" alt="ClickUp">
                </div>
                
                <div class="flex items-center mr-auto">
                    <div class="mr-4 cursor-pointer">Passion Economy 2021</div>
                    <div  class="w-4 mr-4 cursor-pointer"> <img src="{% static "down-arrow.png" %}" alt="downarrow"></div>
                    <div  class="w-4 cursor-pointer"><img src="{% static "option.png" %}" alt="downarrow"></div>
                </div>
                <div class="flex items-center">
                    <div class="flex items-center mr-2">
                        <div class="bg-green-400 h-2 w-2 rounded-full"></div>
                        <div class="bg-green-400 h-px w-3 "></div>
                        <div class="bg-green-400 h-2 w-2 rounded-full"></div>
                        <div class="bg-green-400 h-px w-3  rounded-full"></div>
                        <div class="bg-green-400 h-2 w-2 rounded-full"></div>
                    </div>
                    <div class="text-xs cursor-pointer">Analysis</div>
                </div>
                <div class=" text-purple-500 font-bold text-xs bg-purple-50 p-3 rounded-lg ml-8 mr-4 cursor-pointer">Publish</div>
                <div class="flex items-center bg-purple-500 text-white font-bold text-xs  p-3 rounded-lg cursor-pointer"> <div class="mr-3">Preview Event</div>  <div class="w-4"> <img src="{% static "down-arrow_1.png" %}" alt="downarrow"></div></div>
            </div>
            <div class="flex max-w-[40rem] items-center justify-between mt-4">
                <div class="p-2 border-b-2 border-red-500 cursor-pointer">Overview</div>
                <div class="font-light text-gray-500 cursor-pointer">People</div>
                <div class="font-light text-gray-500 cursor-pointer">Agenda</div>
                <div class="font-light text-gray-500 cursor-pointer">Design</div>
                <div class="font-light text-gray-500 cursor-pointer">Emails</div>
                <div class="font-light text-gray-500 cursor-pointer">Settings</div>
            </div>
        </main>
    </section>
</body>
</html>